* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  display: flex;
  margin: 50px auto;
}

.step-box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  background-color: #EEEEEE;
  position: relative;
}

.step-img1 {
  height: 150px;
  background-image: url(img9-2/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.step-img2 {
  height: 150px;
  background-image: url(img9-2/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(img9-2/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #FFF;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 425px) {
  main {
    width:100%;
    display: block;
  }
  
  .step-box {
    width: 90%;
    margin: 20px auto;
  }
}